* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

@import 'extensions';


body {
    font-size: 62.5%;
    background: linear-gradient(hsla(0, 100%, 50%, 0.596), hsla(300, 100%, 25%, 0.5));
}

main {
    width: 100%;
    margin: auto;
    text-align: center;

    nav ul.top-nav {
        display: flex;
        flex-direction: row;

        width: 100%;
        border-bottom: 1px solid black;
    
        div {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 0.7em;

            &:first-child {
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }

            &:last-child {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                button.search-btn {
                        @extend %list-style;
                        margin-left: 1em;
                        border: none;
                        cursor: pointer;
                        background-color: hsla(125, 50%, 45%, 1);
                }

                li {
                  @extend %list-style;
                }
            }

            li {
                @extend %list-style;
                padding: 0.7em;
            }

            li.top-search:hover {
                cursor: pointer;
            }

            input[type="search"] {
                cursor: pointer;
            }
        } 
    }

    section.main {
        display: grid;
        height: 100vh;
        align-items: stretch;
        margin-bottom: 3rem;
        grid-template-columns: 0.25fr 1fr 0.25fr;
        

         aside.left {
            display: grid;
            grid-area: 1;
         }
    }
}

li.aside-card {
    @extend %new-card;
}

section.main {
    display: flex;
    flex-direction: column;

    aside.left ul.nav {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 5rem;
        border-right: 1px solid black;
        border-bottom: 1px solid black;

        div.aside {
            display: flex;
            flex-direction: column;
            @extend %top-content;
            align-self: center;
        }
    }
}

article.main {
    display: flex;
    flex-direction: column;
    @extend %top-content;
    border-bottom: 1px solid black;
}

article.last {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;

    div.logos {
        display: flex;
        flex-direction: column;
        @extend %top-content;
    }
}

section.testimonials {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    width: 100%;

    div.container {
        display: flex;
        flex-direction: row;
        margin: 15rem auto;
        height: 70vh;
        gap: 1rem;

        div.card_prices {
            @extend %card-prices;
            

            p.description {
                line-height: 1.4;
            }

            button {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                text-align: center;
                margin: 1rem auto;
                padding: 0.3em;
                width: fit-content;
                border: none;
                cursor: pointer;

            }
        }
    }
}

section.form-container {
    width: 100%;
    margin-top: 5rem;
}

form {
    display: block;
    width: 70%;
    padding: 1rem;
    margin: 1rem auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    text-align: center;
    box-shadow: 0px 0px 1px 1px black;

    legend {
        padding: 1rem;
    }
    fieldset {
        display: block;
        width: 50%;
        margin: auto;
    }

    label[for="username"], label[for="password"], label[for="email"] {
        @extend %block-style;
        padding-top: 1rem;
    
    }

    label[for="Date-Of-Birth"] {
        @extend %block-style;
        padding-top: 1rem;
    }

    label[for="employment-status"] {
        display: inline-block;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        @extend %block-style;
        margin: 0.4rem auto;
    }

    input[type="date"] {
        @extend %block-style;
        margin: 0.4rem auto;
    }
    input[name="employment-status"] {
        display: inline-block;
 
    }
    span[class="checkbox-container"] {
        width: 25%;
    }
}

@keyframes pop-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@media (max-width: 900px) {

    main {

        nav ul.top-nav {

            div {

                &:first-child {
                    gap: 1rem;
                }
            }
        }
    }

}

@media (max-width: 500px) {

    main {

        nav ul.top-nav {


            div {
                
                &:first-child {
                   opacity: 0;
                }

                &:last-child {
                    display: hidden;
                }
            }
        }
    }

}